:root {
    /* css variables: https://developer.mozilla.org/en-US/docs/Web/CSS/var */
    --primary-color: rgba(58, 210, 16, 0);
    --shawdow-color: #000000 1, 1, 1, 0.5;
    --secondary-color: #ffc200;
    --error-color: rgba(194, 0, 0, 0.71);
}

.background {
    background-color: #008800;
    background-image: url("images/table.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    counter-reset: section;
}

.header {
    /* Flexbox: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0 20px;
}

.header_home {
    font-size: 36px;
    line-height: 40px;
    height: 100px;
    text-decoration: none;
    color: var(--secondary-color);
}

.header_nav_link {
    margin-left: 20px;
    vertical-align: top;
    line-height: 40px;
}

.about {
    margin-left: 20px;
}

.button, button {
    background: #ffcc00;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    box-shadow: black 1px 1px 1px;
    cursor: pointer;
}

.button:hover, button:hover {
    background: #ffae00;
}

.music-button {
    background: #00e1ff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    box-shadow: black 1px 1px 1px;
    cursor: pointer;
}

.music-button:hover {
    background: #86afbd;
}

.bet-button {
    background: #69ea00;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    box-shadow: black 1px 1px 1px;
    cursor: pointer;
}

.bet-button:hover {
    background: #26ab00;
}

.deal-button {
    background: #ffa500;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    box-shadow: black 1px 1px 1px;
    cursor: pointer;
}

.deal-button:hover {
    background: #ff8c00;
}

.hit-button {
    background: #2bda1a;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    box-shadow: black 1px 1px 1px;
    cursor: pointer;
}

.hit-button:hover {
    background: #00ff05;
}

.stand-button {
    background: #ff4848;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    box-shadow: black 1px 1px 1px;
    cursor: pointer;
}

.stand-button:hover {
    background: #ff0000;
}

.double-button {
    background: #ff00ff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    box-shadow: black 1px 1px 1px;
    cursor: pointer;
}

.double-button:hover {
    background: #ff00b3;
}

.play-again-button {
    background: #00f7ff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    box-shadow: black 1px 1px 1px;
    cursor: pointer;
}

.play-again-button:hover {
    background: #00d4ff;
}

.change-wager-button {
    background: #2fff00;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    box-shadow: black 1px 1px 1px;
    cursor: pointer;
}

.change-wager-button:hover {
    background: #00ff00;
}

.quit-button {
    background: #ff4c00;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    box-shadow: black 1px 1px 1px;
    cursor: pointer;
}

.quit-button:hover {
    background: #ff0000;
}

.reset-button {
    background: #c38aff;
    padding: 3px;
    border-radius: 3px;
    text-decoration: none;
    color: #000000;
    border: 1px solid black;
    box-shadow: black 1px 1px 1px;
    cursor: pointer;
}

.reset-button:hover {
    background: #ff00ff;
}

.card {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    margin: 20px;
    padding: 10px 20px;
}

.validated-field:invalid {
    outline: 2px solid var(--error-color);
}
.validated-field:focus:invalid {
    color: var(--error-color);
}

.card-content {
    max-width: 500px;
}

.card-content .form-field {
    display: flex;
    flex-direction: column;
}

#concert-list li {
    margin-bottom: 1rem;
}

.state {
    display: none;
}

.state.active {
    display: block;
}

body {
    text-align: center;
    color: #ffdd00;
    text-shadow: #000000 1px 1px 1px;
}

#hiddenCard img {
    height: 200px;
    width: 140px;
    margin: 1px;
}


#dealer-hand img {
    height: 200px;
    width: 140px;
    margin: 1px;
}

#player-hand img {
    height: 200px;
    width: 140px;
    margin: 1px;
}

#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url("images/coins.gif");
    background-size: cover;
    z-index: 2;
    cursor: pointer;
}
